{% extends 'base.html.twig' %}

{% block title %}Movie{% endblock %}

{% block body %}
    <h1>Movie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ movie.id }}</td>
            </tr>
            <tr>
                <th>Movie Title</th>
                <td>{{ movie.movieTitle }}</td>
            </tr>
            <tr>
                <th>Year Released</th>
                <td>{{ movie.yearReleased }}</td>
            </tr>
            <tr>
                <th>Movie Duration</th>
                <td>{{ movie.movieDuration }}</td>
            </tr>
            <tr>
                <th>Director</th>
                {# <td>{{ movie.filmography ? movie.filmography.name ~ ' ' ~ movie.filmography.surname : 'Liste vide' }}</td> #}
                {% if movie.filmography %}
                    <td>{{ movie.filmography.name }} {{ movie.filmography.surname }}</td>
                {% else %}
                    <td>pas de réalisateur connu</td>
                {% endif %}
            </tr>
            <tr>
                <th>Movie Genre</th>
                {# <td>{{ movie.genre ? movie.genre.typeName : '' }}</td> #}
                {% if movie.genre %}
                    <td> {{ movie.genre.typeName }}</td>
                {% else %}
                    <td>Pas de genre connu</td>
                {% endif %}
            </tr>



        </tbody>
    </table>

    <a href="{{ path('app_movie_index') }}">back to list</a>

    <a href="{{ path('app_movie_edit', {'id': movie.id}) }}">edit</a>

    {{ include('movie/_delete_form.html.twig') }}
{% endblock %}
