{% extends 'base.html.twig' %}

{% block title %}Film{% endblock %}

{% block body %}

<div class="container">
    <h1>Film</h1>
        {# <img src="{{ asset('uploads/images/' ~ product.image) }}" alt="Photo de profil" style="max-width:180px; border-radius:50%;"> #}
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ movie.id }}</td>
                </tr>
                <tr>
                    <th>Titre du film</th>
                    <td>{{ movie.movieTitle }}</td>
                </tr>
                <tr>
                    <th>Année de sortie du film</th>
                    <td>{{ movie.yearReleased }}</td>
                </tr>
                <tr>
                    <th>Durée du film</th>
                    <td>{{ movie.movieDuration }} minutes</td>
                </tr>
                {# <tr>
                    <th>Image du film</th>
                    <td>{{ movie.image }}</td>
                </tr> #}

            </tbody>
        </table>


</div>
    
{% endblock %}