{% extends 'base.html.twig' %}

{% block title %}Movie{% endblock %}

{% block body %}
    <h1>Movie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ movie.id }}</td>
            </tr>
            <tr>
                <th>Movie Title</th>
                <td>{{ movie.movieTitle }}</td>
            </tr>
            <tr>
                <th>Year Released</th>
                <td>{{ movie.yearReleased }}</td>
            </tr>
            <tr>
                <th>Movie Duration</th>
                <td>{{ movie.movieDuration }}</td>
            </tr>
            <tr>
                <th>Director</th>
                <td>{{ movieDirector.name }} {{ movieDirector.surname }}</td>
            </tr>
            <tr>
                <th>Movie Genre</th>
                <td>{{ movieGenre.typeName }}</td>
            </tr>



        </tbody>
    </table>

    <a href="{{ path('app_movie_index') }}">back to list</a>

    <a href="{{ path('app_movie_edit', {'id': movie.id}) }}">edit</a>

    {{ include('movie/_delete_form.html.twig') }}
{% endblock %}
