{% extends 'base.html.twig' %}

{% block title %}MovieGenre index{% endblock %}

{% block body %}
    <h1>MovieGenre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TypeName</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for movie_genre in movie_genres %}
            <tr>
                <td>{{ movie_genre.id }}</td>
                <td>{{ movie_genre.TypeName }}</td>
                <td>{{ movie_genre.Description }}</td>
                <td>
                    <a href="{{ path('app_movie_genre_show', {'id': movie_genre.id}) }}">show</a>
                    <a href="{{ path('app_movie_genre_edit', {'id': movie_genre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_movie_genre_new') }}">Create new</a>
{% endblock %}
