{% extends 'base.html.twig' %}

{% block title %}MovieDirector index{% endblock %}

{% block body %}
    <h1>MovieDirector index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Birthdate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for movie_director in movie_directors %}
            <tr>
                <td>{{ movie_director.id }}</td>
                <td>{{ movie_director.name }}</td>
                <td>{{ movie_director.surname }}</td>
                <td>{{ movie_director.birthdate ? movie_director.birthdate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_movie_director_show', {'id': movie_director.id}) }}">show</a>
                    <a href="{{ path('app_movie_director_edit', {'id': movie_director.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_movie_director_new') }}">Create new</a>
{% endblock %}
